# Importação do pandas e da base de dados

In [1]:
import pandas as pd
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

## fillna()

Simplesmente substituir os valores nulos por 0, com a função fillna(0)

In [2]:
s.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

## Método ffill

Esse método subistitui o valor nulo com o último valor válido que aparece na series, de cima pra baixo

In [3]:
s.fillna(method='ffill')

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

Esse método é muito válidos quanto estamos trabalhando com uma série de tempo, em que podemos encontrar dados nulos que podem ser preenchidos de forma rápida, tornando seu modelo executável.

## Método bfill

Funciona como o ffill, porém de baixo para cima

In [6]:
s.fillna(method='bfill')

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

## Preenchendo com a média

Preenche os valores nulos com a média dos valores válidos

In [7]:
s.fillna(s.mean())

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

## É possível definir limites para as interpolações, veja a seguir:

In [8]:
s.fillna(method='ffill',limit=1)

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

Apenas o primeiro valor nulo foi interpolado, pois definimos um limite de 1

Os limites podem ser uteis se quisermos interpolar alguns valores de uma maneira e outros por outro método

In [10]:
s1 = s.fillna(method='ffill',limit=1)
s1

0     0.50
1     0.50
2      NaN
3     0.52
4     0.54
5     0.54
6      NaN
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [12]:
s1.fillna(method='bfill')

0     0.50
1     0.50
2     0.52
3     0.52
4     0.54
5     0.54
6     0.59
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64