In [1]:
import pandas as pd

# Series

In [2]:
data = [1, 2, 3, 4, 5]

In [4]:
s = pd.Series(data)

In [5]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

## Modificando o index da series

In [18]:
ix = ['Linha_' + str(i) for i in range(5)]
ix

['Linha_0', 'Linha_1', 'Linha_2', 'Linha_3', 'Linha_4']

In [19]:
s = pd.Series(data, index=ix)
s

Linha_0    1
Linha_1    2
Linha_2    3
Linha_3    4
Linha_4    5
dtype: int64

## Criar dicionário e passar esse dicionário para a series

In [23]:
dados = {'linha_' + str(i): i+1 for i in range(5)}

In [24]:
seri = pd.Series(dados)
seri

linha_0    1
linha_1    2
linha_2    3
linha_3    4
linha_4    5
dtype: int64

## Operações matemáticas nas series

In [26]:
s1 = s+1
s1

Linha_0    2
Linha_1    3
Linha_2    4
Linha_3    5
Linha_4    6
dtype: int64

In [27]:
s2 = s*2
s2

Linha_0     2
Linha_1     4
Linha_2     6
Linha_3     8
Linha_4    10
dtype: int64

# DataFrame

In [28]:
frame = [[1,2,3],
         [4,5,6],
         [7,8,9]]

In [29]:
frame

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [30]:
df = pd.DataFrame(frame)
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [31]:
linha=['Linha_' + str(i) for i in range(3)]

In [32]:
df = pd.DataFrame(frame, index=linha)
df

         0  1  2
Linha_0  1  2  3
Linha_1  4  5  6
Linha_2  7  8  9

In [34]:
coluna=['Coluna_' + str(i) for i in range(3)]

In [35]:
df = pd.DataFrame(frame, index=linha, columns=coluna)
df

         Coluna_0  Coluna_1  Coluna_2
Linha_0         1         2         3
Linha_1         4         5         6
Linha_2         7         8         9

## Também é possivel criar com a metodologia de dicionário

In [36]:
frame2 = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
         'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
         'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [37]:
dfdc = pd.DataFrame(frame2)
dfdc

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9