# Relatório IV

## Análise dos imóveis residencias com objetivo de extrair os seguintes dados:

1) Quantidade de imóveis classificados com o tipo 'Apartamento'.

2) Quantidade de imóveis classificados com os tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

3) Quantidade de imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

4) Quantidade de imóveis que tenham pelo menos quatro quartos e aluguel menor que R$ 2.000,00.

### Importação do pandas e da base de dados

In [6]:
import pandas as pd
dados = pd.read_csv('aluguel_residencial.csv', sep=";")
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN

## Apartamentos

In [2]:
sel_ap = dados['Tipo'] == 'Apartamento'
freq_ap = dados[sel_ap].shape[0]
print("A quantidade de imóveis do tipo 'Apartamento' é:", freq_ap)

A quantidade de imóveis do tipo 'Apartamento' é: 19532

## Casas, Casas de Condomínio ou Casas de Vilas

In [3]:
# geral
sel_casas = (dados['Tipo'] == 'Casa') | (dados['Tipo'] == 'Casa de Condomínio') | (dados['Tipo'] == 'Casa de Vila')
freq_casas = dados[sel_casas].shape[0]
# apenas casa
sel_kza = dados['Tipo'] == 'Casa'
freq_kza = dados[sel_kza].shape[0]
# apenas casa de condomínio
sel_kza_c = dados['Tipo'] == 'Casa de Condomínio'
freq_kza_c = dados[sel_kza_c].shape[0]
# apenas casa de vila
sel_kza_v = dados['Tipo'] == 'Casa de Vila'
freq_kza_v = dados[sel_kza_v].shape[0]
# resultados
print("A quantidade de imóveis dos tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' é:", freq_casas) 
print("A quantidade dos imóveis do tipo 'Casa' é:", freq_kza)
print("A quantidade dos imóveis do tipo 'Casa de Condomínio' é:", freq_kza_c)
print("A quantidade dos imóveis do tipo 'Casa de Vila' é:", freq_kza_v)

A quantidade de imóveis dos tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila' é: 2212
A quantidade dos imóveis do tipo 'Casa' é: 967
A quantidade dos imóveis do tipo 'Casa de Condomínio' é: 996
A quantidade dos imóveis do tipo 'Casa de Vila' é: 249

##  Área entre 60 e 100 metros quadrados

In [4]:
sel_area = (dados['Area'] >= 60) & (dados['Area'] <=100)
freq_area = dados[sel_area].shape[0]
print("A quantidade de imóveis com a área entre 60 e 100 metros é:", freq_area)

A quantidade de imóveis com a área entre 60 e 100 metros é: 8719

## Quatro quartos e aluguel menor que R$ 2.000,00

In [5]:
sel_qua = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)
freq_qua = dados[sel_qua].shape[0]
print("A quantidade de imóveis com pelo menos quatro quartos e aluguel menor do que R$2000 é:", freq_qua)

A quantidade de imóveis com pelo menos quatro quartos e aluguel menor do que R$2000 é: 41

# Resumo do Relatório

A quantidade de imóveis do tipo Apartamento é: **19532**

A quantidade de imóveis dos tipos Casa, Casa de Condomínio e Casa de Vila é: **2212**

A quantidade de imóveis com a área entre 60 e 100 metros é: **8719**

A quantidade de imóveis com pelo menos quatro quartos e aluguel menor do que R$2000 é: **41**